# 🔒 File di configurazione sensibili
!wp-config.php

# ✅ Plugin e tema custom
wp-content/plugins/
wp-content/plugins/*/node_modules/
wp-content/plugins/*/vendor/
wp-content/plugins/wp-mail-smtp/

!wp-content/plugins/woocommerce/
!wp-content/plugins/woocommerce/**
!wp-content/themes/
!wp-content/themes/my_structure/**
wp-content/themes/*/node_modules/
wp-content/themes/*/vendor/

# ❌ Runtime e cache
wp-content/cache/
wp-content/uploads/
#wp-content/debug.log
wp-content/upgrade/
wp-content/upgrade-temp-backup/
wp-content/wc-logs/
*.log

# ❌ Roba di sistema
.DS_Store
Thumbs.db
node_modules/
vendor/

# ❌ Backup ed esportazioni
*.sql
*.zip
*.tar.gz
*.bak
*.bk

# ✅ Vite manifest e output
!public/.vite/manifest.json
!public/css/
!public/js/
!public/assets/
/wp-content/ewww/
/wp-content/themes/my_structure/resources/cache/
