# Config locali e file sensibili
wp-config.php

# Ignora tutta la cartella wp-content
wp-content/*

# Ma tieni il tuo plugin personalizzato
!wp-content/plugins/
!wp-content/plugins/mioplugin-custom/**
# E il tuo tema custom
!wp-content/themes/
!wp-content/themes/my_structure/**

# Cache e log (già dentro wp-content, ma lasciamo per chiarezza)
wp-content/cache/
wp-content/uploads/
wp-content/debug.log
wp-content/upgrade/
wp-content/upgrade-temp-backup/
wp-content/wc-logs/
*.log

# File di sistema
.DS_Store
Thumbs.db
node_modules/
vendor/

# Backup o export
*.sql
*.zip
*.tar.gz
*.bak
*.bk
