# Ignora tutto dentro wp-content
wp-content/*

# Ma tieni solo i tuoi plugin e il tuo tema custom
!wp-content/plugins/
!wp-content/plugins/*/
!wp-content/plugins/*/src/
!wp-content/plugins/*/assets/
!wp-content/plugins/*/*.php
wp-content/plugins/*/vendor/
!wp-content/plugins/*/node_modules/

!wp-content/themes/
!wp-content/themes/my_structure/**

# Cache, backup e roba inutile
wp-content/cache/
wp-content/uploads/
wp-content/debug.log
*.log
*.zip
*.sql
node_modules/
vendor/
.DS_Store
