.logo-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100dvh - 47px);

}

.sw-wrapper-linear,
.sw-wrapper-linear-custom,
.swiper-wrapper {
    height: 100%;
}

/* Le singole slide occupano 100% dell’altezza */
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 140px) /* Important: riempie l’altezza dello slider */
}

/* Sezione con background image */
.swiper-slide section {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
}

.content-slide-container {
    min-height: 525px;
}